<main>
	<p>
		Hi <%= @user.name %>,
    Follow <%= link_to 'this link', "#{Rails.configuration.application.app_url}/reset-password?token=#{@user.reset_password_token}" %> to change your password!
	</p>
</main>